/* src/components/BasicInfoForm.css */
.basic_info_page{
  width: 100vw;
  height: 100vh;
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basic-info-form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .basic-info-form-container h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: chocolate;
  }
  
  .basic-info-form-container form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .form-group_binfo input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #1877f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #145dbf;
  }
  