.change_password_page{
    background-color: #c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.change_password_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
}

.cpw_header{
    display: flex;
    justify-content: center;
    color: chocolate;
    font-weight: 700;
    font-size: 48px;
}

.cp_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.new_password, .confirm_password, .old_password   {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    width: 500px;
    height: 60px;
    border-radius: 6px;
    padding-left: 10px;
    box-shadow: 2px 3px 5px gray;

}

.cp_input .input{
    height: 60%;
    width: 93%;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;

}

.change_password_container button{
    align-items: center;
    width: 170px;
    height: 40px;
    color: #fff;
    background-color: chocolate;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    box-shadow: 2px 3px 5px gray;
}