.create_post_container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create_post_container .create_button{
    width: 40vw;
    background-color: #242426;
    color: #fff;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    gap: 20px;
    border-radius: 10px;
}

.create_post_container .create_button:hover{
    background-color: #47494a;
    cursor: pointer;
}

.create_post_container .create_post_frame{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}

.create_post_container .create_post_frame .frame{
    width: 550px;
    height: fit-content;
    position: absolute;
    background-color: #242426;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.create_post_frame .frame .caption_input{
    flex-grow: 1;
    width: 90%;
    color: #fff;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 10px 10px 15px 10px;
    height: 20%;
    max-height: 20%;
    background-color: #242426;
    outline: none;
    border: none;
    font-size: 20px;
    text-align: left;
    padding: 10px; /* Adjust padding as needed */
    resize: none; /* Prevent resizing */
    line-height: 1.2; /* Adjust this value as needed */
}

.file-input {
    display: none;
}

.upload-container {
    position: relative;
    display: inline-block;
    width: 90%;
    height: fit-content;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #323436;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.upload-label i {
    margin-right: 8px;
    font-size: 30px;
}

.upload-label:hover{
    background-color: #47494a;
}

.upload_image_preview{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.post_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 15px;
    height: 5%;
    gap: 10px;
}

.post_button button{
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #323436;
    font-size: 20px;
    font-weight:700;
    color: #fff;
    gap: 10px;
    box-shadow: 2px 2px 3px black;
}

.post_button button:hover{
    background-color: chocolate;
    cursor: pointer;
}

.image_review{
    height: 450px;
    width: 490px;
    background-color: grey;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
}

.image_review img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.visibility_option{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 10px;
}
.visibility_option select{
    height: 100%;
    border-radius: 30px;
    padding: 10px;
    font-size: 15px;
    background-color: #323436;
    color: #fff;
}

.visibility_option select:hover{
    background-color: chocolate;
}



.full-width .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.half-width .post-image {
    width: 48%; /* Two images, each taking half the width with some space between */
    height: 100%;
    object-fit: cover;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.grid-layout .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.maximum_trigger{
    padding: 10px;
    text-align: center;
    color: #fff;
    width: 80%;
}

.maximum_trigger h1{
    margin: 0px;
}
