/* src/pages/EditProfile.css */

.edit-profile-page{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_image_change{
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.image_name{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f5f6f7;
    border-radius: 8px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  }
  .image_name{
    margin-top: 10px;
  }
  .profile-img-current{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px chocolate solid;
  }

  .profile-img-current:hover{
    opacity: 80%;
    cursor: pointer;
  }


  .edit-profile-title {
    font-size: 34px;
    color: chocolate;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .edit-profile-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  label {
    font-size: 14px;
    color: #1c1e21;
  }
  
  .text-input {
    height: 40px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
  }
  
  .text-input:focus {
    border-color: #1877f2;
    outline: none;
  }
  
  
  