.group_display_container {
    position: fixed;
    width: fit-content;
    height: fit-content;
    max-height: 500px;


    top: 250px;
    right: -22.5vw;
    
    border-radius: 10px;
    border: 1px solid #ffffff;
    transition: right 0.8s cubic-bezier(0.25, 0.8, 0.5, 1);

    display: flex;
    flex-direction: row;
    align-items: start;
}

.group_list_display{
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    width: 100%;
    background-color: transparent;
}



#create_group_req{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;

    border-bottom: 1px #ffffff solid;
    
    color: #ffffff;
    background-color:#18191a; ;

    width: 100%;

    font-size: 20px;
    margin-bottom: 10px;

    position: sticky;
    top: 0px;
    background-color: grey;
}

#create_group_req:hover{
    background-color: chocolate;
    cursor: pointer;
}

.group_display_container:hover {
    right: 10px;
   
}

.the_hover_button{
    height: 100%;;
    writing-mode: vertical-rl; /* Makes the text vertical */
    text-orientation: upright; /* Ensures the text is upright */
    text-align: center;
    font-size: 20;
    color: rgb(255, 255, 255);
    background-color: chocolate;
    font-weight: 900;
    border-top-left-radius: 8px ;
    border-bottom-left-radius: 8px ;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.the_hover_button i{
    font-size: 30px;
    color: white;
    margin-top: 10px;
}