.home_new_feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post_list_home{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
