*{
    font-family: Arial, Helvetica, sans-serif;
}

.post_container{
    border-radius: 10px;
    width: 40vw;
    height: fit-content;
    background-color:#1E201E;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    box-shadow: 0px 0px 10px 2px rgba(92, 92, 92, 0.5);
    color: #fff;
}

.post_author {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.avatar-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden; /* This ensures the image is cropped to fit the circle */
    display: flex;
    align-items: center;
    justify-content: center;
}


.post_author .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post_author .text_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.post_author .date{
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
}
.post_author .name{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

.post_caption{
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    white-space: pre-line; 
    line-height: 1.5
}

.post_caption p{
    margin: 10px 0 10px 0;
}

.post_content {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.post_content img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.post_count{
    border-bottom: 0.5px solid gray;
    padding:0 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.post_count h5{
    margin: 0px;
}


.post_react {
    padding: 10px;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}


.post_react i:hover{
    color: chocolate;
    cursor: pointer;
}

