
.profile_posts_container{
    display: flex;
    justify-content: center;
}
.profile_posts_container .profile_post_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*about*/
.profile_about_container{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 20px;
}

.profile_about_container .about_content{
    background: #242426;
    color: #fff;
    width: 80%;
    font-size: 15px;
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    box-shadow: 1px 1px 2px black;
}

.profile_about_container .about_content h3{
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 20px
}

.profile_about_container .about_content h3 i{
    color: #727B87;
    font-size: 18px;
}

.profile_about_container .about_content .personal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.space{
    height: 40px;
    background-color: #fff;
}

/*friend*/

.friend_list_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.friendlist{
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates two columns with equal width */
    gap: 10px; /* Optional: Adds some space between the cards */
    width: 90%; 
    padding: 20px;
}